### Ejercicios Extra Introducción a Pandas

Para seguir practicando podés hacer estos ejercicios. Vamos a seguir utilizando el recorte de un dataset sobre el establecimientos educativos en la Provincia de Buenos Aires extraído del sitio web de [Datos Abiertos de la Provincia de Buenos Aires](https://catalogo.datos.gba.gob.ar/dataset/establecimientos-educativos/archivo/3951210e-7e0e-4fed-bbf1-0183e704c9ae) actualizado a fines del año 2022. 
En la clase vamos a usar un Dataset modificacado por lo que para ejectutar la Notebook correctamente se debe utilizar el archivo de la clase.

In [2]:
import pandas as pd
data = pd.read_csv("establecimientos_educativos.csv")

1. Ver los últimos 4 registros del dataset

In [4]:
print("Últimos 4 registros:\n", data.tail(4))

Últimos 4 registros:
        row_number  idserv       clave  cueanexo  \
21619       21620  103264  0044AS0001  62457100
21620       21621  103265  0018JS0009  62457200
21621       21622  103266  0118JS0003  62457400
21622       21623  103267  0006JS0011  62457500

                                                  nombre            modalidad  \
21619       ESCUELA SECUNDARIA ESPECIALIZADA EN ARTE N°1  Modalidad Artística
21620  JARDÍN DE INFANTES RURAL E ISLAS DE MATRÍCULA ...      Educación Común
21621  JARDIN DE INFANTES RURAL E ISLAS DE MATRÍCULA ...      Educación Común
21622  JARDÍN DE INFANTES RURAL E ISLAS DE MATRÍCULA ...      Educación Común

                  nivel periodo                         calle  nro  ...  \
21619  Nivel Secundario   Nueva         FORTÍN ATAHUALPA PEÑA  886  ...
21620     Nivel Inicial   Nueva  SECCION RURAL PARAJE EL TORO  S/N  ...
21621     Nivel Inicial   Nueva                    ZONA RURAL  S/N  ...
21622     Nivel Inicial   Nueva                     CUARTEL V  S/N  ...

                                  tipo_organizacion matricula varones mujeres  \
21619                           POLIVALENTE DE ARTE         0       0       0
21620  JARDÍN DE INFANTES RURAL DE MATRÍCULA MÍNIMA         0       0       0
21621  JARDÍN DE INFANTES RURAL DE MATRÍCULA MÍNIMA         0       0       0
21622  JARDÍN DE INFANTES RURAL DE MATRÍCULA MÍNIMA         0       0       0

       turnos      area sede_axo_ext esc_sede    latitud   longitud
21619     NaN  INTERIOR         SEDE      NaN -34.596751 -58.966341
21620     NaN  INTERIOR         SEDE      NaN -35.488045 -62.592406
21621     NaN  INTERIOR         SEDE      NaN -36.362899 -61.640911
21622     NaN  INTERIOR         SEDE      NaN -37.339438 -58.425834

[4 rows x 29 columns]

2. Ver los tipos de datos de las columnas del dataset

In [5]:
print("Tipos de datos\n:", data.dtypes)

Tipos de datos
: row_number             int64
idserv                 int64
clave                 object
cueanexo               int64
nombre                object
modalidad             object
nivel                 object
periodo               object
calle                 object
nro                   object
localidad             object
distrito              object
region_educativa      object
depend_func           object
desfavorabilidad       int64
subvencion            object
ubicacion             object
sector                object
dependencia           object
tipo_organizacion     object
matricula              int64
varones                int64
mujeres                int64
turnos                object
area                  object
sede_axo_ext          object
esc_sede              object
latitud              float64
longitud             float64
dtype: object

3. Ver la columna "area", ¿Qué valores puede tomar? ¿Cuántos registros hay de cada uno?

In [11]:
columna_area = data["area"]
print("Columna area:\n", columna_area)
print("\nTipos de datos:", columna_area.dtypes)
print("\nCantidad de registros:\n", columna_area.value_counts())

Columna area:
 0         INTERIOR
1         INTERIOR
2         INTERIOR
3         INTERIOR
4         INTERIOR
           ...
21618    CONURBANO
21619     INTERIOR
21620     INTERIOR
21621     INTERIOR
21622     INTERIOR
Name: area, Length: 21623, dtype: object

Tipos de datos: object

Cantidad de registros:
 area
INTERIOR     11757
CONURBANO     9866
Name: count, dtype: int64

4. Modificar el nombre de la columna "nombre" por "nombre_establecimiento"

In [12]:
renombrar = {"nombre": "nombre_establecimiento"}
nueva_columna = data.rename(columns = renombrar)
print(nueva_columna)

       row_number  idserv       clave  cueanexo  \
0               1       1  0001AD0003  61060000
1               2       1  0001AD0003  61060000
2               3       1  0001AD0003  61060000
3               4       2  0001AE0001  61498400
4               5       3  0001AE0002  61498500
...           ...     ...         ...       ...
21618       21619  103263  2073DF9000  62457001
21619       21620  103264  0044AS0001  62457100
21620       21621  103265  0018JS0009  62457200
21621       21622  103266  0118JS0003  62457400
21622       21623  103267  0006JS0011  62457500

                                  nombre_establecimiento  \
0                         ESCUELA DE DANZAS CLASICAS Nº3
1                         ESCUELA DE DANZAS CLASICAS Nº3
2                         ESCUELA DE DANZAS CLASICAS Nº3
3                     ESCUELA DE EDUCACIÓN ARTÍSTICA Nº1
4                     ESCUELA DE EDUCACIÓN ARTÍSTICA Nº2
...                                                  ...
21618  INSTITUTO TECNOLÓGICO DE LA UNIVESIDAD NACIONA...
21619       ESCUELA SECUNDARIA ESPECIALIZADA EN ARTE N°1
21620  JARDÍN DE INFANTES RURAL E ISLAS DE MATRÍCULA ...
21621  JARDIN DE INFANTES RURAL E ISLAS DE MATRÍCULA ...
21622  JARDÍN DE INFANTES RURAL E ISLAS DE MATRÍCULA ...

                            modalidad                  nivel     periodo  \
0                 Modalidad Artística    Ciclo de Iniciación  Final 2022
1                 Modalidad Artística    Nivel Superior (**)  Final 2022
2                 Modalidad Artística            Ciclo Medio  Final 2022
3                 Modalidad Artística      Cursos y Talleres  Final 2022
4                 Modalidad Artística      Cursos y Talleres  Final 2022
...                               ...                    ...         ...
21618  Modalidad de Jóvenes y Adultos  Formación Profesional       Nueva
21619             Modalidad Artística       Nivel Secundario       Nueva
21620                 Educación Común          Nivel Inicial       Nueva
21621                 Educación Común          Nivel Inicial       Nueva
21622                 Educación Común          Nivel Inicial       Nueva

                                       calle   nro  ...  \
0                                54 E/ 7 Y 8   628  ...
1                                54 E/ 7 Y 8   628  ...
2                                54 E/ 7 Y 8   628  ...
3                               45 E/ 9 Y 10   743  ...
4      76 - RELOCALIZADOS EN EL ISFDYT N° 12   S/N  ...
...                                      ...   ...  ...
21618                AVENIDA BARTOLOMÉ MITRE  1891  ...
21619                  FORTÍN ATAHUALPA PEÑA   886  ...
21620           SECCION RURAL PARAJE EL TORO   S/N  ...
21621                             ZONA RURAL   S/N  ...
21622                              CUARTEL V   S/N  ...

                                  tipo_organizacion matricula varones mujeres  \
0                        ESCUELA DE DANZAS CLÁSICAS       144       5     139
1                        ESCUELA DE DANZAS CLÁSICAS       263       5     258
2                        ESCUELA DE DANZAS CLÁSICAS       231      10     221
3                    ESCUELA DE EDUCACIÓN ARTÍSTICA      1016     471     545
4                    ESCUELA DE EDUCACIÓN ARTÍSTICA       709     280     429
...                                             ...       ...     ...     ...
21618               CENTRO DE FORMACIÓN PROFESIONAL         0       0       0
21619                           POLIVALENTE DE ARTE         0       0       0
21620  JARDÍN DE INFANTES RURAL DE MATRÍCULA MÍNIMA         0       0       0
21621  JARDÍN DE INFANTES RURAL DE MATRÍCULA MÍNIMA         0       0       0
21622  JARDÍN DE INFANTES RURAL DE MATRÍCULA MÍNIMA         0       0       0

                        turnos       area sede_axo_ext esc_sede    latitud  \
0      MAÑANA,TARDE,VESPERTINO   INTERIOR         SEDE      NaN -34.917432
1      MAÑANA,TARDE,VESPERTINO   INTERIOR         SEDE      NaN -34.917432
2      MAÑANA,TARDE,VESPERTINO   INTERIOR         SEDE      NaN -34.917432
3      MAÑANA,TARDE,VESPERTINO   INTERIOR         SEDE      NaN -34.914041
4      MAÑANA,TARDE,VESPERTINO   INTERIOR         SEDE      NaN -34.934052
...                        ...        ...          ...      ...        ...
21618                      NaN  CONURBANO         SEDE      NaN -34.647795
21619                      NaN   INTERIOR         SEDE      NaN -34.596751
21620                      NaN   INTERIOR         SEDE      NaN -35.488045
21621                      NaN   INTERIOR         SEDE      NaN -36.362899
21622                      NaN   INTERIOR         SEDE      NaN -37.339438

        longitud
0     -57.947606
1     -57.947606
2     -57.947606
3     -57.957036
4     -57.924258
...          ...
21618 -58.795544
21619 -58.966341
21620 -62.592406
21621 -61.640911
21622 -58.425834

[21623 rows x 29 columns]

5. ¿Cuántos estudiantes varones tiene el establecimiento que menos matricula de varones tiene?

In [14]:
print(data["varones"].min())

0

6. ¿Cuántos estudiantes mujeres tiene el establecimiento que más matrícula de mujeres tiene?

In [20]:
print(data["mujeres"].max())

5152